<div id="homepage" *ngIf="_ds.home">
    <div class="panel-common-blank font-sub-menu">
        <div class="panel-mid">
            <div class="panel panel-default panel-top-handle">
                <div class="panel-body panel-common-blank">
                    <h3>LOG VIEWER V0.1</h3>
                    <div>
                        Log viewer was created with a goal to work with logs.
                    </div>
                    <h4>Todo: </h4>
                    <p>FTP, Remote files (SSH/Windows Network access)</p>
                    <p>Integration with your NodeJS Server cleanly with user security (npm package)</p>
                    <p>Move to xtermjs ES6 Codes</p>
                    <h4>License: </h4>
                    <p>
                        Apache 2.0. License. Currently in Beta. Developed by
                        <a href="https://github.com/ganeshkbhat">Ganesh B</a>. Interested in contribution or Want to request a feature? Leave a
                        <a href="https://github.com/ganeshkbhat">Github Issue</a> or send a pull request.
                    </p>
                    <h4>Disclaimer: </h4>
                    <p>
                        Log Viewer is made for developers and for basic log monitoring.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>