<span class="desktop-sidebar">
	<input type="checkbox" id="menuControl">
	<label for="menuControl">
		<svg class="cssplay_svg_menu" viewBox="0 0 20 20">
			<path fill="#FFF" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
		</svg>

	</label>
	<div id="ie7">
		<div id="navigation2">
			<ul>
				<li>
					<a href="">
						<h3>AppRepute</h3>
					</a>
				</li>
				<li class="home">
					<a href="#">Home</a>
				</li>
				<li class="viewer">
					<a href="#">Log Viewer</a>
					<ul>
						<li>
							<a href="#">Monitor Log</a>
						</li>
						<li>
							<a href="#">Static Log</a>
						</li>
						<li>
							<a href="#">Settings</a>
						</li>
					</ul>
				</li>
				<li class="about">
					<a href="#">About</a>
					<ul>
						<li class="license">
							<a href="#">License</a>
						</li>
						<li>
							<a href="#">Documentation</a>
						</li>
						<li>
							<a href="#">About Us</a>
						</li>
					</ul>
				</li>
				<li class="help">
					<a href="#">Purchase</a>
				</li>
			</ul>
		</div>
	</div>
</span>