<div class="cssplay_menu">
	<span style="text-transform:uppercase; left: 50px;top:25px; position: fixed;">Log Viewer</span>
	<input type="checkbox" id="sub0">
	<label for="sub0">
		<svg style="top: 10px; left: -2px; position: relative;width:20px;height:20px" viewBox="0 0 20 20">
			<path fill="#fff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
		</svg>
	</label>
	<ul>
		<li>
			<a href="#" (click)="showHome()" class="brand">Log Monitor</a>
		</li>
		<li>
			<a href="#" (click)="showMonitor('monitor')">LogMonitor</a>
		</li>
		
	</ul>
</div>