<!-- SIMPLE PANEL WITH PARAGRAPH -->
<div class="panel-mid">
  <div class="panel panel-default panel-top-handle">
    <div class="panel-body">
      <a href="#" (click)="toggleStreamSettings('settingshide')">
        <span>&nbsp;&nbsp;</span>
        Monitor Settings
        <span>&nbsp;&nbsp; </span>
      </a>
      
    </div>
  </div>
</div>

<div  class="panel-mid panel-common" *ngIf="!_ds.streamSettings">

    <div class="panel panel-default panel-top-handle">
  
      <div class="panel-body">
        
        <div #myCanvas id="terminal"></div>
      </div>
    </div>
  </div>